[submodule "include/libs/kicad/KiCAD_Libraries"]
	path = include/libs/kicad/KiCAD_Libraries
	url = https://github.com/CascoLogix/KiCAD_Libraries.git
[submodule "include/libs/kicad/Buttons_Switches_THT.pretty"]
	path = include/libs/kicad/Buttons_Switches_THT.pretty
	url = https://github.com/KiCad/Buttons_Switches_THT.pretty.git
[submodule "include/libs/kicad/Fuse_Holders_and_Fuses.pretty"]
	path = include/libs/kicad/Fuse_Holders_and_Fuses.pretty
	url = https://github.com/KiCad/Fuse_Holders_and_Fuses.pretty.git
[submodule "include/libs/kicad/kicad-modules"]
	path = include/libs/kicad/kicad-modules
	url = https://github.com/slimcdk/kicad-modules
[submodule "include/libs/kicad/ESP8266-Template-for-ESProg"]
	path = include/libs/kicad/ESP8266-Template-for-ESProg
	url = https://github.com/hamityanik/ESP8266-Template-for-ESProg.git
